services:
    kafdrop:
        image: obsidiandynamics/kafdrop:4.2.0
        container_name: kafdrop
        ports:
        - 9000:9000
        environment:
            KAFKA_BROKERCONNECT: "kafka-server-1:9091,kafka-server-2:9091,kafka-server-3:9091"
    kafka-server-1:
        hostname: kafka-server-1
        image: loind31/kafka-base-img:v0
        volumes:
            - ./config/cluster.id:/cluster.id
            - ./config/server-1:/workspace/kafka/config
            - ./config/server-uuid:/workspace/kafka/server-uuid
            - ./config/entrypoint.sh:/entrypoint.sh
            - ./logs/server-1:/workspace/kafka/logs
        ports:
            - 9091:9091
        command: ["/entrypoint.sh"]
    kafka-server-2:
        hostname: kafka-server-2
        image: loind31/kafka-base-img:v0
        volumes:
            - ./config/cluster.id:/cluster.id
            - ./config/server-2:/workspace/kafka/config
            - ./config/server-uuid:/workspace/kafka/server-uuid
            - ./config/entrypoint.sh:/entrypoint.sh
            - ./logs/server-2:/workspace/kafka/logs
        ports:
            - 9092:9092
        command: ["/entrypoint.sh"]
    kafka-server-3:
        hostname: kafka-server-3
        image: loind31/kafka-base-img:v0
        volumes:
            - ./config/cluster.id:/cluster.id
            - ./config/server-3:/workspace/kafka/config
            - ./config/server-uuid:/workspace/kafka/server-uuid
            - ./config/entrypoint.sh:/entrypoint.sh
            - ./logs/server-3:/workspace/kafka/logs
        ports:
            - 9093:9093
        command: ["/entrypoint.sh"]